h1{
    color: whitesmoke;
    text-align: center;
    padding-top: 8vh;
    font-size: 2.5vw;
}

h3{
    color: whitesmoke;
    text-align: center;
    font-size: 1.2vw;

}

.Planets img{
    width: 7vw;
    height: auto;
    padding: 0px;
    margin: 0px;
}

#UserRocket{
    position: absolute;
    height: 13vh;
}

.leftPlanets{
    position: absolute;
    left: 15vw;
}

.rightPlanets{
    position: fixed;
    left: 74vw;
}

#brownPlanet{
    position: fixed;
    top: 5vh;
}

#earthPlanet{
    position: fixed;
    top: 23vh;
    left: 11vw;
}

#greenPlanet{
    position: fixed;
    top: 41vh;
    left: 8vw;
}

#moonPlanet{
    position: fixed;
    top: 59vh;
    left: 11vw;
}

#orangePlanet{
    position: fixed;
    top: 77vh;
}

#purplePlanet img{
    position: fixed;
    top: 5vh;
    width: 8.5vw;
}

#redPlanet{
    position: fixed;
    top: 23vh;
    left: 78vw;
}

#brownstripesPlanet{
    position: fixed;
    top: 41vh;
    left: 81vw;
}

#waterPlanet{
    position: fixed;
    top: 59vh;
    left: 78vw;
}

#whitePlanet{
    position: fixed;
    top: 77vh;
}

#services{
    position: absolute;
    margin-top: 80vh;
    margin-left: 35vw;
    padding-bottom: 30vh;
    color: whitesmoke;
    text-align: center;
}

#services h2{
    font-size: 3vw;
}

#services p{
    font-size: 2vw;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
}


#toServices{
    position: absolute;
    left: 41.5vw;
    height: 5vh;
    width: 15vw;
    top: 90vh;
    color: whitesmoke;
    font-size: 1vw;
}

.Planets img:hover{
    width: 8vw;
}

#purplePlanet img:hover{
    width: 9.5vw;
}