h1{
    color: whitesmoke;
    text-align: center;
    margin-top: 10vh;
    font-size: 2.5vw;
    font-family: "Helvetica Neue", "Helvetica", Arial;
}

.Planets img{
    width: 7vw;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.Planets{
  position: absolute;
}

#UserRocket{
    position: absolute;
    height: 13vh;
}

.leftPlanets{
    left: 15vw;
}

.rightPlanets{
    left: 74vw;
}

#brownPlanet{
    top: 5vh;
}

#earthPlanet{
    top: 23vh;
    left: 11vw;
}

#greenPlanet{
    top: 41vh;
    left: 8vw;
}

#moonPlanet{
    top: 59vh;
    left: 11vw;
}

#orangePlanet{
    top: 77vh;
}

#purplePlanet{
    top: 5vh;
    width: 8.5vw;
}

#redPlanet{
    top: 23vh;
    left: 78vw;
}

#brownstripesPlanet{
    top: 41vh;
    left: 81vw;
}

#waterPlanet{
    top: 59vh;
    left: 78vw;
}

#whitePlanet{
    top: 77vh;
}
