h1{
    color: whitesmoke;
    text-align: center;
    margin-top: 10vh;
    font-size: 2.5vw;
    font-family: "Helvetica Neue", "Helvetica", Arial;
}

.row{

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;

}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h1{
    font-size: 54px;
    color: white;
}  

.col-1 h2{
    font-size: 30px;
    color: white;
    font-weight: 100;
    margin: 60px 0 10px;
    margin-left: 100px;
}   

.col-1 p{
    font-size: 16px;
    color: white;
    font-weight: 100;
    margin-left: 220px;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    transition: width 0.5s;
    cursor: pointer;
    margin-left: 200px;
}

button img{
    width: 30px;
    display: none;
}

button:hover img{
    display: block;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 250px;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 80px;
    margin-left: 65px;
}

.col-2{
    margin-left: 60px;
}

.col-2 .prototype{
    width: 65%; 
}

.col-3{
    margin-right: 40px;
}
.col-3 .prototype2{
    width: 65%; 
}

.Planets img{
    width: 7vw;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.Planets{
  position: absolute;
}

#UserRocket{
    position: absolute;
    height: 13vh;
}

.leftPlanets{
    left: 15vw;
}

.rightPlanets{
    left: 74vw;
}

#brownPlanet{
    top: 5vh;
}

#earthPlanet{
    top: 23vh;
    left: 11vw;
}

#greenPlanet{
    top: 41vh;
    left: 8vw;
}

#moonPlanet{
    top: 59vh;
    left: 11vw;
}

#orangePlanet{
    top: 77vh;
}

#purplePlanet{
    top: 5vh;
    width: 8.5vw;
}

#redPlanet{
    top: 23vh;
    left: 78vw;
}

#brownstripesPlanet{
    top: 41vh;
    left: 81vw;
}

#waterPlanet{
    top: 59vh;
    left: 78vw;
}

#whitePlanet{
    top: 77vh;
}
